.process-container {
  height: 92vh;
  width: 92.5vw;
  background: #fbfdff;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 7.5vw;
}

.process-button {
  width: 21vw;
  height: 6.4vh;
  border-radius: 0px 2vh 2vh 0px;
  margin: 10px 0px;
  font-weight: 600;
  font-size: 3vh;
  display: flex;
  align-items: center;
  padding: 0px 1vw;
}

.process-button.active {
  background-color: #094EFF;
  color: white;
}

.process-button.completed {
  background-color: transparent;
  color: #999999;
  text-decoration: line-through;
}

.process-button.inprogress{
  background-color: transparent;
  color: black;
}

.process-section {
  height: 68vh;
  width: 68vh;
  background-color: white;
  border: 1px dashed;
  border-radius: 12px;
}




