.side-container {
  height: 92vh;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.side-main-content-container {
  height: 71px;
  width: 100%;
  background-color: #fafcff;
  display: flex;
  align-items: center;
  padding: 0px 23px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #c9ced6;
  border-top: 1px solid #c9ced6;
}

#chain-content {
  height: 120px;
  background-color: #fafcff;
  width: 100%;
  display: block;
}

.chain-container {
  display: flex;
  padding: 5px 0px;
  align-items: center;
}

.chain-image {
  height: 30px;
  width: 30px;
  padding: 0px;
  border-radius: 50%;
  margin-right: 7px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.chain-checkbox {
  transform: scale(1.2);
  margin-right: 10px;
}
